// margins
@margin: 15px;


// font sizes
@text-xs: 10px;
@text-sm: 15px;
@text-md: 20px;
@text-lg: 28px;

// colors
@red-500: #f44336;
@red-900: #B71C1C;
@red-700: #D32F2F;

// mixins
.translateY(@y) {
    -moz-transform: translateY(@y);
    -ms-transform: translateY(@y);
    -o-transform: translateY(@y);
    -webkit-transform: translateY(@y);
    transform: translateY(@y);
}

.translateX(@x) {
    -moz-transform: translateX(@x);
    -ms-transform: translateX(@x);
    -o-transform: translateX(@x);
    -webkit-transform: translateX(@x);
    transform: translateX(@x);
}

.translateXY(@x, @y) {
    -moz-transform: translate(@x, @y);
    -ms-transform: translate(@x, @y);
    -o-transform: translate(@x, @y);
    -webkit-transform: translate(@x, @y);
    transform: translate(@x, @y);
}
