@import "mixins.less";

.post {
  .post-header {
    .post-title {
      font-size: @text-lg;
      font-weight: bold;
    }
    .post-title-input {

    }
    .delete-post {
      margin-left: @margin;
      cursor: pointer;
      &:hover {
        color: @red-900;
      }
    }
    .edit-post-title {
      margin-left: @margin;
      cursor: pointer;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  .post-featured-media {
    img {
      width: auto;
      height: 300px;
    }
  }

  .post-content {

  }
}
