@import "mixins";

.loading-indicator {
    position: fixed;
    left: 50%;
    top: 50%;
    .translateXY(-50%, -50%);
    z-index: 100;
}

.posts-loading-children {
  .loading {
    opacity: .5;
  }
}
